<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-dark text-white">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<div th:object="${contenedor}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
						role="alert">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>

				<form th:action="@{/form}" th:object="${contenedor}" method="post"
					enctype="multipart/form-data">
					<div class="form-group row">
						<label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{personacontacto.nombre}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> 
								
						</div>
					</div>
					<div class="form-group row">
						<label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{personacontacto.apellido}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> 
								
						</div>
					</div>
					<div class="form-group row">
						<label for="dni" class="col-sm-2 col-form-label">DNI</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{personacontacto.dni}" class="form-control"
								th:errorclass="'form-control alert-danger'" />
								
						</div>
					</div>
					<div class="form-group row">
						<label for="celular" class="col-sm-2 col-form-label">Celular</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{personacontacto.celular}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> 
						</div>
					</div>
					<div class="form-group row">
						<label for="correo" class="col-sm-2 col-form-label">Correo</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{personacontacto.correo}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> 
						</div>
					</div>

					
								<div class="form-group row">
						<label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{proveedor.nombre}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> 
								
						</div>
					</div>
					<div class="form-group row">
						<label for="razon_social" class="col-sm-2 col-form-label">razon_social</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{proveedor.razonSocial}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> 
								
						</div>
					</div>
					<div class="form-group row">
						<label for="ruc" class="col-sm-2 col-form-label">ruc</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{proveedor.ruc}" class="form-control"
								th:errorclass="'form-control alert-danger'" />
								
						</div>
					</div>
					<div class="form-group row">
						<label for="tipo_persona" class="col-sm-2 col-form-label">tipo_persona</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{proveedor.tipoPersona}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> 
						</div>
					</div>
				<div class="form-group row">
						<label for="cuenta_bco_nacion" class="col-sm-2 col-form-label">cuenta_bco_nacion</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{proveedor.cuentaBcoNacion}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> 
						</div>
					</div>
					
					
					

					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="${titulo}"
								class="btn btn-secondary" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>