<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="BPZ"></title>
<link rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/css/jquery-ui.min.css}" />
</head>
<body>
	<div class="card bg-light">
		<div class="card-header" th:text="${titulo}"></div>
		<div class="card-body">
		
			<table class="table table-striped table-bordered">
				<thead class="thead-inverse">
					<tr>
							<th>id</th>
							<th>Razon Social</th>
							<th>RUC</th>
							<th>editar</th>
							<th>eliminar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="proveedor: ${proveedores}">
						<td><a class="btn btn-primary btn xs"
						th:text="${proveedor.idProveedor}"></a></td>
						<td th:text="${proveedor.razonSocial}"></td>
						<td th:text="${proveedor.ruc}"></td>
						<td><a class="btn btn-primary btn-xs"
								 th:text="'editar'"></a></td>
							<td><a class="btn btn-danger btn-xs"
								th:text="'eliminar'"
								></a></td>
					</tr>
				</tbody>
			
			</table>
		
		</div>
	</div>
</body>
</html>